<!DOCTYPE html>

<html>
<head>
<title>Idumota Market</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="container">     
    <div class="row">
          <h1 class="col-sm-3">Biz9ja</h1>
          <nav  class="col-sm-3 text-left">
                    <p id="home"><a href="/">Home</a></p>
                    <p id="home"><a href="/shops">Shops</a></p>
          </nav>
          <div class="col-sm-3">
             <form >
                <input type="text" name="search" placeholder="Search..">
             </form>
          </div>
          <div class="col-sm-3 text-right">
            </div>
    </div>
  </header>

  {{template "body" .Data}}

  